@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	@apply w-3;
}

::-webkit-scrollbar-track {
	@apply bg-green-400 rounded-sm;
}

::-webkit-scrollbar-thumb {
	@apply bg-green-300 rounded-sm shadow-card;
}

html,
body {
	@apply h-full;
}

body {
	background-image: url('/paw-background.png');
	background-position: center;
}

h2 {
	@apply text-lg;
}

h3 {
	@apply text-xs;
}

.game-stats-label {
	@apply flex items-center justify-center text-center;
}

button {
	outline: none;
}

svg {
	@apply text-white text-lg;
}

.main-wrapper {
	@apply w-full h-full flex justify-center items-center p-6 overflow-hidden;
}

.card-container {
	@apply bg-green-500 flex-col space-y-6 p-6 rounded shadow-card h-fit max-h-[824px];
}

.right-side-game-container {
	@apply grow relative mt-6 px-6 pb-6 pt-[136px] flex flex-col justify-between items-center;
}

.menu-dropdown {
	@apply bg-green-400 flex flex-col space-y-6 p-6 rounded text-nowrap shadow-card;
}

.leaderboard-grid {
	display: grid;
	grid-template-columns: 96px 240px repeat(5, 1fr);
	gap: 0.5rem;
}
